
<form #loinForm="ngForm" (ngSubmit)="submitLoginForm(loinForm)">
    <div class="form-group">
      <label for="exampleInputEmail1"><b>Email address</b></label>
      <input type="email" 
      class="form-control mt-2" 
      id="exampleInputEmail1" 
      aria-describedby="emailHelp"
       placeholder="Enter email"
       name="yourEmail"
       ngModel
       #yourEmail="ngModel"
       required
       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
       >
      <div id="emailHelp" class="form-text text-muted " *ngIf="yourEmail.touched && yourEmail.invalid">
<span class="text-danger" *ngIf="yourEmail?.errors?.['required']">
Please enter your email
</span>

<span class="text-danger" *ngIf="yourEmail?.errors?.['pattern']">
    Please enter a valid email
    </span>
        
      </div>
        
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1 " class="mt-3"><b>Password</b></label>
      <input type="password" class="form-control mt-2" id="exampleInputPassword1" placeholder="Password"
      name="yourpassword" 
      ngModel
      #yourpassword="ngModel"
      required

      >
      <div id="emailHelp" class="form-text text-muted " *ngIf="yourpassword.touched && yourpassword.invalid">
        <span class="text-danger" *ngIf="yourpassword?.errors?.['required']">
        Please enter your password
        </span>
        </div>

      
    </div>
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary mt-3" [disabled]="loinForm.invalid">Submit</button>
  </form>


  <p class="mt-4">Don't have account ? <a  routerLink="../register">Register</a></p>






  <form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member?  <a  routerLink="../register">Register</a>></p>
      <p>or sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>